:root {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-size: 18px;
            --text-ligth: 200;
            --text-medium: 400;
            --text-bold: 600;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
  color: white;
}

.app__h1 {
  font-family: 'Press Start 2P';
}

@media (max-width:775px) {
  .app {
    text-align: center;
    font-size: 0.75em;
  }
}